@{
    ViewData["Title"] = "Adm - Agora Vai";
    ViewData["H2"] = "Adm";
}
<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>

<main>
    <div>
                <table>
                    <thead>

                        <tr>
                            <th>Nome</th>
                            <th>Comentário</th>
                            <th>Data do Comentário</th>
                        </tr>

                    </thead>

                    <tbody>
                        @foreach (var item in )
                        {
                            @if ()
                            {
                                
                            }
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
</main>